<footer class="home-footer">
    <div class="home-container13">
      <div class="home-container14">
        <a a href="/index" class="home-navlink">
        <img
          alt="VGUlogofullwhite17217"
          src="/playground_assets/vgulogofullwhite17217-4d0rh-200h.png"
          class="home-v-ulogofullwhite1"
        />
        </a> 
        <h2 class="home-text062">
          <span>
            <span>
              Ring road 4, Quarter 4, Thoi Hoa Ward, Ben Cat Town, Binh
              Duong Province
            </span>
            <br />
            <span>Tel. (0274) 222 0990 - 70206</span>
            <br />
            <span>Fax: (0274) 222 0980</span>
          </span>
        </h2>
        <h2 class="home-text069">
          © 2023 VGU Library, All Rights Reserved.
        </h2>
      </div>
      <div class="home-navbutton1">
        <div class="home-home1">
          <a href="/index" class="home-navlink6">
            <h2 class="home-text070">
              <span>Home</span>
              <span></span>
            </h2>
          </a>
          <p class="home-text073">
            <br />
            <span>Search books</span>
            <br />
            <span>Popular books</span>
            <br />
            <span>Featured books</span>
            <br />
            <span>Services</span>
            <br />
            <span>Research</span>
            <br />
            <span>News &amp; Events</span>
            <br />
          </p>
        </div>
        <div class="home-contact">
          <a href="/contact" class="home-navlink7">
            <h2 class="home-text087">Contact</h2>
          </a>
          <p class="home-text088">
            <br />
            <span>Address</span>
            <br />
            <span>Phone number</span>
            <br />
            <span>Fax number</span>
            <br />
            <span>Email</span>
            <br />
          </p>
        </div>
        <div class="home-about">
          <a href="/about" class="home-navlink8">
            <h2 class="home-text098">About</h2>
          </a>
          <p class="home-text099">
            <br />
            <span>Introduction</span>
            <br />
            <span>Mission</span>
            <br />
            <span>Vision</span>
            <br />
            <span>Scale</span>
            <br />
          </p>
        </div>
      </div>
    </div>
  </footer>