<div>
  <link href="./book-order.css" rel="stylesheet" />
  <div class="book-order-book-order">
    <img
      alt="chroniclebook11971"
      src="public/playground_assets/chroniclebook11971-56bk-300h.png"
      class="book-order-chroniclebook1"
    />
    <div class="book-order-book-text">
      <span class="book-order-book-name">
        <span class="book-order-text">Book name:</span>
        <span></span>
        <span class="book-order-text02">
          CHRONICLE FROM THE LAND OF THE HAPPIEST PEOPLE ON EARTH
        </span>
      </span>
      <span class="book-order-author">
        <span class="book-order-text03">Author:</span>
        <span></span>
        <span class="book-order-text05">W. Soyinka</span>
      </span>
      <span class="book-order-user-id">
        <span class="book-order-text06">User ID:</span>
        <span></span>
        <span class="book-order-text08">17657</span>
      </span>
      <span class="book-order-username">
        <span class="book-order-text09">Username:</span>
        <span></span>
        <span class="book-order-text11">catOverlord</span>
      </span>
      <span class="book-order-borrow-date">
        <span class="book-order-text12">Borrow date:</span>
        <span></span>
        <span class="book-order-text14">TBD</span>
      </span>
      <span class="book-order-return-date">
        <span class="book-order-text15">Return date:</span>
        <span></span>
        <span class="book-order-text17">TBD</span>
      </span>
    </div>
  </div>
</div>
