<div>
  <link href="./component.css" rel="stylesheet" />
  <div class="component-container">
    <input type="radio" name="radio" class="component-radiobutton" />
    <img
      alt="ThinkJavabook19753"
      src="public/playground_assets/thinkjavabook19753-xe8k-200w.png"
      class="component-think-javabook1"
    />
    <div class="component-container1">
      <span class="component-text"><span>Think Java</span></span>
      <span class="component-text02">
        <span>Author:</span>
        <span class="component-text04">A. B. Downey, C. Mayfield</span>
        <span></span>
        <span></span>
      </span>
      <span class="component-text07">
        <span>Issued date:</span>
        <span class="component-text09">03/04/2023</span>
      </span>
      <span class="component-text10">
        <span>Return date:</span>
        <span class="component-text12">10/04/2023</span>
      </span>
      <span class="component-text13">
        <span class="component-text14">Overdue:</span>
        <span class="component-text15">3 day(s)</span>
      </span>
    </div>
  </div>
</div>
