<!DOCTYPE html>
<html lang="english">
  <%- include('layouts/header'); -%>
  <body>
    <div>
      <link href="./css/error-page.css" rel="stylesheet" />
      <link href="./css/home.css" rel="stylesheet" />
      <div class="error-page-container">
        <div class="error-page-errorpage">
         <!-- navbar -->
         <%- include('layouts/navbar'); -%>
          <div class="error-page-container2">
            <div class="error-page-container3">
              <div class="error-page-container4">
                <img
                  alt="errorcat11357"
                  src="/playground_assets/errorcat11357-p8cb-500w.png"
                  class="error-page-errorcat1"
                />
                <span class="error-page-text06">
                  <span>
                    <span>YOU KNOW WHAT...</span>
                    <br />
                    <span>CURIOSITY KILLED THE CAT</span>
                  </span>
                </span>
                <span class="error-page-text11">
                  <span>
                    <span>
                      Don’t be a cat killer. You’re not a witch. You’re a whiz!
                    </span>
                    <br />
                    <span>Go back home and try something else instead.</span>
                  </span>
                </span>
                <a
                  href="index"
                  class="error-page-return-home-button button"
                >
                  Return Home
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <%- include('layouts/script'); -%>
</html>
