<!DOCTYPE html>
<html lang="english">
  <%- include('layouts/header'); -%>
  </head>
  <body>
    <div>
      <link href="./css/style.css" rel="stylesheet" />

      <div class="about-container">
        <div class="about-about">
          <!--NavBar-->
          <%- include('layouts/navbar'); -%>

          <div class="about-header">
            <div class="about-container02">
              <span class="about-text006">
                <span>
                  <span>NURTURING VIETNAMESE BRIGHT MINDS</span>
                  <br />
                  <span>SINCE 2008</span>
                </span>
              </span>
            </div>
          </div>
          <div class="about-container03">
            <p class="about-text011">
              <span class="about-text012">“ The VGU Library</span>
              <span class="about-text013">
                <span>is the centerpiece of our campus, with a wealth of</span>
                <span></span>
              </span>
              <span class="about-text016">cutting-edge services</span>
              <span class="about-text017">
                <span>, along with</span>
                <span></span>
              </span>
              <span class="about-text020">up-to-date information</span>
              <span class="about-text021">
                <span>from across the globe. It reflects our will to</span>
                <span></span>
              </span>
              <span class="about-text024">aim high</span>
              <span class="about-text025">
                <span>and</span>
                <span></span>
              </span>
              <span class="about-text028">accomplish great things</span>
              <span class="about-text029">
                , and I believe that in the not too distant future, many
                generations of Vietnamese students will possess the same
                qualities. ”
              </span>
            </p>
            <div class="about-container04">
              <img
                alt="Ellipse111743"
                src="/playground_assets/ellipse111743-kxzf-400h.png"
                class="about-ellipse11"
              />
              <h1 class="about-text030">
                <span class="about-text031">Dr. Ing. Tomas Benz</span>
                <br class="about-text032" />
                <span class="about-text033">
                  President, Vietnamese - German University
                </span>
                <br class="about-text034" />
              </h1>
            </div>
          </div>
          <div class="about-random-quote">
            <div class="about-container05"></div>
            <div class="about-container06">
              <p class="about-text035">
                <span>
                  Since 2008, the VGU Library has been instrumental in preparing
                  brilliant Vietnamese students for the fast-paced globalization
                  of today's world. Facilities must come first in order to
                  provide the best research environment for students.
                </span>
              </p>
            </div>
          </div>
          <div class="about-random-icon-group">
            <div class="about-container07">
              <img
                alt="computer11845"
                src="/playground_assets/computer11845-nteb-200h.png"
                class="about-computer1"
              />
              <h2 class="about-text037">
                <span>A brand new computer lab for easier research</span>
              </h2>
            </div>
            <div class="about-container08">
              <img
                alt="studying11857"
                src="/playground_assets/studying11857-jvqjs-200h.png"
                class="about-studying1"
              />
              <h2 class="about-text039">
                <span>
                  Many self-studying places across 4 floors of the library
                </span>
              </h2>
            </div>
            <div class="about-container09">
              <img
                alt="conversation11859"
                src="/playground_assets/conversation11859-n57-200h.png"
                class="about-conversation1"
              />
              <h2 class="about-text041">
                <span>11 groupwork rooms for team projects or group study</span>
              </h2>
            </div>
            <div class="about-container10">
              <img
                alt="support11851"
                src="/playground_assets/support11851-ir3-200h.png"
                class="about-support1"
              />
              <h2 class="about-text043">
                <span>Supporting staff and services readily available</span>
              </h2>
            </div>
          </div>
          <div class="about-random2">
            <div class="about-container11">
              <p class="about-text045">
                <span>
                  In addition to offering students a cozy, contemporary research
                  area, the VGU Library also provides them with the most recent
                  news sources from reliable media outlets. The entire world is
                  now in the palm of your hands.
                </span>
              </p>
            </div>
            <div class="about-container12"></div>
          </div>
          <div class="about-container13">
            <h1 class="about-text047"><span>PUBLISHERS</span></h1>
            <div class="about-image">
              <img
                alt="springer11886"
                src="/playground_assets/springer11886-kyt-200h.png"
                class="about-springer1"
              />
              <img
                alt="macmillan11888"
                src="/playground_assets/macmillan11888-b526-200h.png"
                class="about-macmillan1"
              />
              <img
                alt="oxford11889"
                src="/playground_assets/oxford11889-0a5r-200h.png"
                class="about-oxford1"
              />
              <img
                alt="cambridge11881"
                src="/playground_assets/cambridge11881-93lm-200h.png"
                class="about-cambridge1"
              />
              <img
                alt="harvard11881"
                src="/playground_assets/harvard11881-36f-200w.png"
                class="about-harvard1"
              />
            </div>
          </div>
          <div class="about-container14">
            <h1 class="about-text049"><span>NEWS &amp; MAGAZINES</span></h1>
            <div class="about-container15">
              <img
                alt="natgeo11881"
                src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/1b991b8f-9d51-4ea9-8364-8c69b56ded20/7046bbe4-2beb-47cf-b015-27856ff28a96?org_if_sml=11921"
                class="about-natgeo1"
              />
              <img
                alt="forbes11881"
                src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/1b991b8f-9d51-4ea9-8364-8c69b56ded20/d028f138-849e-4215-8df9-511e58eb22c3?org_if_sml=12093"
                class="about-forbes1"
              />
              <img
                alt="readerdigest11881"
                src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/1b991b8f-9d51-4ea9-8364-8c69b56ded20/ccbb9512-8249-4f99-837c-2d6d18546d48?org_if_sml=12221"
                class="about-readerdigest1"
              />
              <img
                alt="theeconomist11881"
                src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/1b991b8f-9d51-4ea9-8364-8c69b56ded20/b3f4d109-9d2e-4353-85e3-1c2595c07a66?org_if_sml=11606"
                class="about-theeconomist1"
              />
              <img
                alt="time11881"
                src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/1b991b8f-9d51-4ea9-8364-8c69b56ded20/f02c8d14-1c18-4ce9-8be6-b942362b6a61?org_if_sml=11489"
                class="about-time1"
              />
              <img
                alt="discovery11881"
                src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/1b991b8f-9d51-4ea9-8364-8c69b56ded20/2f0d6d85-ceb3-40ec-934c-c9a15a3004b0?org_if_sml=11598"
                class="about-discovery1"
              />
            </div>
          </div>
          <div class="about-container16">
            <div class="about-container17">
              <h1 class="about-text051">
                <span class="about-text052">100+</span>
                <span class="about-text053">daily user count</span>
                <br class="about-text054" />
                <span class="about-text055">200+</span>
                <span class="about-text056">weekly borrowed books</span>
                <br class="about-text057" />
                <span class="about-text058">2,000+</span>
                <span class="about-text059">user accounts</span>
                <br class="about-text060" />
                <span class="about-text061">10,000+</span>
                <span class="about-text062">books and resources</span>
                <br />
              </h1>
            </div>
          </div>
          <div class="about-container18">
            <p class="about-text064">
              <span class="about-text065">
                “Never let a day pass without looking at some perfect work of
                art, hearing some great piece of music and reading, in part,
                some great books.”
              </span>
              <br class="about-text066" />
              <span class="about-text067">
                Johann Wolfgang von Goethe (1749 - 1832)
              </span>
              <br class="about-text068" />
            </p>
          </div>
          <div class="about-container19">
            <div class="about-container20">
              <span class="about-text069"><span>HAVING QUESTIONS?</span></span>
              <a href="/contact" class="about-navlink05 button">
                contact us
              </a>
            </div>
          </div>
          <!--footer-->
          <%- include('layouts/footer'); -%>
         
            </div>
          </nav>
        </div>
      </div>
    </div>
  </body>
  <%- include('layouts/script'); -%>
</html>
