<!DOCTYPE html>
<html lang="english">
  <%- include('layouts/header'); -%>

  <body>
    <div>
      <link href="/css/style.css" rel="stylesheet" />

      <div class="login-container">
        <div class="login-login">
         <!-- navbar -->
         <%- include('layouts/navbar'); -%>
          <div class="login-container2">
            <div class="login-login1">
              <div class="login-background">
                <h1 class="login-text06">Reset password</h1>
                <div class="login-input-info">
                  <form action='/reset/:id/:token' method="POST" class="login-form">
                    <div class="login-user-name">
                      <label for="username" class="login-text07">
                        New password
                      </label>
                      <input
                        type="password"
                        id="password" name="password"
                        class="login-textinput input"
                      />
                    </div>
                    <div class="login-user-name">
                        <label for="password2" class="login-text07">
                          Confirm new password
                        </label>
                        <input
                          type="password"
                          id="password2" name="password2"
                          class="login-textinput input"
                        />
                      </div>
                    <button type='submit' class="login-login2 button">Reset</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <%- include('layouts/script'); -%>
</html>
