.reset-password-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
  .reset-password-resetpassword {
    width: 100%;
    height: 1001px;
    display: flex;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    background-color: rgba(255, 255, 255, 1);
  }
  .reset-password-nav-bar {
    width: 100%;
    height: 85px;
    display: flex;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
    align-items: center;
    flex-shrink: 0;
    border-color: transparent;
    justify-content: center;
    background-color: rgba(255, 255, 255, 1);
  }
  .reset-password-container1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .reset-password-navlink {
    display: contents;
  }
  .reset-password-vg-logo1 {
    width: 161px;
    cursor: pointer;
    height: 46px;
    margin-left: 2%;
    border-color: transparent;
    margin-right: 40%;
    text-decoration: none;
  }
  .reset-password-navbutton {
    width: auto;
    display: flex;
    align-self: center;
    align-items: center;
    margin-right: 5%;
    flex-direction: row;
  }
  .reset-password-navlink1 {
    display: contents;
  }
  .reset-password-text {
    color: rgb(115, 117, 117);
    width: auto;
    cursor: pointer;
    height: auto;
    font-size: 24px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: Montserrat;
    font-weight: 500;
    line-height: normal;
    margin-left: 5%;
    font-stretch: normal;
    margin-right: 5%;
    text-decoration: none;
  }
  .reset-password-navlink2 {
    display: contents;
  }
  .reset-password-text03 {
    color: rgba(115, 117, 117, 1);
    width: auto;
    cursor: pointer;
    height: auto;
    font-size: 24px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: Montserrat;
    font-weight: 500;
    line-height: normal;
    margin-left: 5%;
    font-stretch: normal;
    margin-right: 5%;
    text-decoration: none;
  }
  .reset-password-navlink3 {
    display: contents;
  }
  .reset-password-text05 {
    color: rgb(115, 117, 117);
    width: auto;
    cursor: pointer;
    height: auto;
    font-size: 24px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: Montserrat;
    font-weight: 500;
    line-height: normal;
    margin-left: 5%;
    font-stretch: normal;
    margin-right: 5%;
    text-decoration: none;
  }
  .reset-password-magnifyingglass1 {
    width: 33px;
    height: 29px;
    display: flex;
    align-self: center;
    margin-left: 2%;
    border-color: transparent;
    margin-right: 2%;
    align-content: center;
    flex-direction: initial;
    text-decoration: none;
  }
  .reset-password-button {
    color: rgb(255, 255, 255);
    width: 183px;
    font-size: 24px;
    font-style: normal;
    text-align: center;
    transition: 0.3s;
    font-family: Montserrat;
    font-weight: 700;
    margin-left: 2%;
    border-width: 0px;
    margin-right: 2%;
    background-color: rgb(222, 112, 0);
  }
  .reset-password-button:hover {
    width: 181px;
    height: 39px;
    font-style: normal;
    font-weight: 500;
  }
  .reset-password-text07:hover {
    width: 181px;
    height: 39px;
    font-style: normal;
    font-weight: 500;
  }
  .reset-password-background {
    top: 86px;
    left: 1px;
    width: 100%;
    height: 913px;
    display: flex;
    position: absolute;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    justify-content: center;
    background-image: url("public/playground_assets/image15919-goa-1000h.png");
  }
  .reset-password-container2 {
    width: 1094px;
    height: 597px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    justify-content: center;
    background-image: url("public/playground_assets/rectangle165920-3emg-1100w.png");
  }
  .reset-password-text09 {
    color: rgba(0, 0, 0, 1);
    width: 406px;
    height: auto;
    font-size: 48px;
    align-self: auto;
    font-style: Bold;
    text-align: center;
    font-family: Montserrat;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
    text-decoration: none;
  }
  .reset-password-input-info {
    width: 100%;
    height: 245.99609375px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .reset-password-form {
    width: 773px;
    height: 400px;
    display: flex;
    align-self: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .reset-password-new-pwd {
    width: 633px;
    height: 60.9765625px;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    flex-direction: column;
  }
  .reset-password-text11 {
    font-family: Montserrat;
    font-weight: 700;
  }
  .reset-password-input {
    width: 100%;
    font-family: Montserrat;
    border-color: #302f2f;
    border-width: 1px;
  }
  .reset-password-confirm-pwd {
    width: 629px;
    height: 60.9765625px;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    flex-direction: column;
  }
  .reset-password-text12 {
    font-family: Montserrat;
    font-weight: 700;
  }
  .reset-password-textinput {
    font-family: Montserrat;
    border-color: #302f2f;
    border-width: 1px;
  }
  .reset-password-login {
    color: rgb(255, 255, 255);
    width: 222px;
    height: 40px;
    font-size: 20px;
    box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
    font-style: normal;
    margin-top: var(--dl-space-space-oneandhalfunits);
    text-align: center;
    font-family: Montserrat;
    font-weight: 700;
    border-width: 0px;
    border-radius: 9px;
    background-size: cover;
    text-decoration: none;
    background-color: rgb(219, 129, 45);
  }
  @media(max-width: 1200px) {
    .reset-password-vg-logo1 {
      top: 30px;
      left: 21px;
      width: auto;
      position: static;
      margin-left: 20px;
    }
    .reset-password-navbutton {
      width: auto;
      position: static;
      margin-left: var(--dl-space-space-sixunits);
      margin-right: var(--dl-space-space-sixunits);
    }
    .reset-password-text {
      top: 0px;
      left: 0px;
      width: auto;
      position: static;
      margin-left: 6px;
      margin-right: 6px;
    }
    .reset-password-text03 {
      top: 4.00390625px;
      right: 0px;
      width: auto;
      position: static;
      margin-left: 6px;
      margin-right: 6px;
    }
    .reset-password-text05 {
      top: 2.01171875px;
      color: rgb(115, 117, 117);
      width: auto;
      position: static;
      font-size: 24px;
      font-family: Montserrat;
      font-weight: 500;
      line-height: normal;
      margin-left: 6px;
      margin-right: 6px;
      text-decoration: none;
    }
    .reset-password-magnifyingglass1 {
      top: 31px;
      left: 890px;
      width: auto;
      position: static;
    }
  }
  