<div>
  <link href="./adminheader.css" rel="stylesheet" />
  <div class="adminheader-adminheader">
    <div class="adminheader-adminheader1">
      <a href="admin.html" class="adminheader-navlink">
        <div class="adminheader-dashboardadminbutton button">
          <img
            alt="Rectangle492645"
            src="public/playground_assets/rectangle492645-thch-200h.png"
            class="adminheader-rectangle49"
          />
          <span class="adminheader-text"><span>Dashboard</span></span>
        </div>
      </a>
      <a href="admin-user-board.html" class="adminheader-navlink1">
        <div class="adminheader-useradminbutton button">
          <img
            alt="Rectangle492651"
            src="public/playground_assets/rectangle492651-sxib-200h.png"
            class="adminheader-rectangle491"
          />
          <span class="adminheader-text2"><span>User</span></span>
        </div>
      </a>
      <a href="admin-book-board.html" class="adminheader-navlink2">
        <div class="adminheader-bookadminbutton button">
          <img
            alt="Rectangle492661"
            src="public/playground_assets/rectangle492661-4kxr-200h.png"
            class="adminheader-rectangle492"
          />
          <span class="adminheader-text4"><span>Book</span></span>
        </div>
      </a>
    </div>
  </div>
</div>
