<div>
  <link href="./footer.css" rel="stylesheet" />
  <footer class="footer-footer">
    <div class="footer-container">
      <div class="footer-container1">
        <img
          alt="VGUlogofullwhite17217"
          src="public/playground_assets/vgulogofullwhite17217-4d0rh-200h.png"
          class="footer-v-ulogofullwhite1"
        />
        <h2 class="footer-text">
          <span>
            <span>
              Ring road 4, Quarter 4, Thoi Hoa Ward, Ben Cat Town, Binh Duong
              Province
            </span>
            <br />
            <span>Tel. (0274) 222 0990 - 70206</span>
            <br />
            <span>Fax: (0274) 222 0980</span>
          </span>
        </h2>
        <h2 class="footer-text07">
          <span>© 2023 VGU Library, All Rights Reserved.</span>
        </h2>
      </div>
      <div class="footer-navbutton">
        <div class="footer-home">
          <a href="index.html" class="footer-navlink">
            <h2 class="footer-text08">
              <span>Home</span>
              <span></span>
            </h2>
          </a>
          <p class="footer-text11">
            <br />
            <span>Search books</span>
            <br />
            <span>Popular books</span>
            <br />
            <span>Featured books</span>
            <br />
            <span>Services</span>
            <br />
            <span>Research</span>
            <br />
            <span>News &amp; Events</span>
            <br />
          </p>
        </div>
        <div class="footer-contact">
          <a href="contact.html" class="footer-navlink1">
            <h2 class="footer-text25"><span>Contact</span></h2>
          </a>
          <p class="footer-text26">
            <br />
            <span>Address</span>
            <br />
            <span>Phone number</span>
            <br />
            <span>Fax number</span>
            <br />
            <span>Email</span>
            <br />
          </p>
        </div>
        <div class="footer-about">
          <a href="contact.html" class="footer-navlink2">
            <h2 class="footer-text36"><span>About</span></h2>
          </a>
          <p class="footer-text37">
            <br />
            <span>Introduction</span>
            <br />
            <span>Mission</span>
            <br />
            <span>Vision</span>
            <br />
            <span>Scale</span>
            <br />
          </p>
        </div>
      </div>
    </div>
  </footer>
</div>
