<div>
  <link href="./nav-bar.css" rel="stylesheet" />
  <nav id="MainNav" class="nav-bar-nav-bar">
    <a href="index.html" class="nav-bar-navlink">
      <img
        alt="VGULogo11954"
        src="public/playground_assets/vgulogo11954-887-200h.png"
        class="nav-bar-vg-logo1"
      />
    </a>
    <div class="nav-bar-right-side-pane">
      <div class="nav-bar-other-buttons">
        <div class="nav-bar-nav-links">
          <a href="index.html" class="nav-bar-navlink1">
            <h2 class="nav-bar-text">
              <span>Home</span>
              <span></span>
            </h2>
          </a>
          <a href="about.html" class="nav-bar-navlink2">
            <h2 class="nav-bar-text03"><span>About</span></h2>
          </a>
          <span class="nav-bar-text04">
            <span><span>Service</span></span>
          </span>
          <span class="nav-bar-tobe-deleted">
            <span><span>Research</span></span>
          </span>
          <span class="nav-bar-tobe-deleted1">
            <span><span>News&Events</span></span>
          </span>
          <span class="nav-bar-text08">
            <span><span>Contact</span></span>
          </span>
        </div>
        <img
          alt="magnifyingglass11955"
          src="public/playground_assets/magnifyingglass11955-xoij-200h.png"
          class="nav-bar-magnifyingglass1"
        />
        <a href="login.html" class="nav-bar-text10 thing_Rounded thing_White">
          <span>Logout</span>
        </a>
        <a href="login.html" class="nav-bar-text11 thing_Rounded thing_Orange">
          <span>Username</span>
        </a>
      </div>
    </div>
  </nav>
</div>
